@{
    ViewBag.Title = "About";
}
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>About Us</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- About city estate start -->
<div class="about-city-estate">
    <div class="container">
        <div class="option-bar">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                    <h4>
                        <span class="heading-icon">
                            <i class="fa fa-th-list"></i>
                        </span>
                        <span class="hidden-xs">About</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="car-detail-slider simple-slider">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="~/assets/img/properties/pic1.png" class="img-preview img-responsive" alt="properties-1">
                                </div>
                                <div class="item">
                                    <img src="~/assets/img/properties/pic2.png" class="img-preview img-responsive" alt="properties-2">
                                </div>
                                <div class="item">
                                    <img src="~/assets/img/properties/DSC_0451.png" class="img-preview img-responsive" alt="properties-3">
                                </div>
                                <div class="item active left">
                                    <img src="~/assets/img/properties/DSC_0459.png" class="img-preview img-responsive" alt="properties-8">
                                </div>
                                <div class="item next left">
                                    <img src="~/assets/img/properties/DSC_0458.png" class="img-preview img-responsive" alt="properties-5">
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-custom" role="button" data-slide="prev">
                                <span class="slider-mover-left no-bg" aria-hidden="true">
                                    <i class="fa fa-angle-left"></i>
                                </span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-custom" role="button" data-slide="next">
                                <span class="slider-mover-right no-bg" aria-hidden="true">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <div class="main-title-2">
                        <h1><span>Welcome</span> to Sheranwala Estate</h1>
                    </div>
                    <p>
                        Sheranwala Group Established in 1985, Sheranwala Group has started its journey as small venture in Pakistan’s financial market. Today has a substantial presence in market due to its successfully completed previous projects. Since its inception, Sheranwala Group has embraced the leadership position it holds, and the reputation for which it is held in highest regard. Our Determination to lead extends from every aspect of its business portfolio, and comes down to the company’s refusal to compromise on quality, value, style or service. CEO Message “Sheranwala Group is one of the most trust worthy and imminent names in the real estate investments. We are committed to providing great real estate services with complete customer satisfaction. Let our extensive knowledge of real estate assist you with whatever your needs may be”.
                    </p>
                    @*<a href="#" class=" btn button-sm button-theme">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About city estate end -->


<div class="container content-area">
    <div class="main-title">
        <h1><span>Our</span> Projects</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- our project start -->
            <div class="thumbnail blog-box clearfix">
                <img src="~/assets/img/blog/blog-1.png" alt="blog-01" class="img-responsive">
                <!-- detail -->
                <div class="caption detail">
                    <!-- Main title -->
                    <div class="main-title-2">
                        <h1><a href="#">Sheranwala Heights</a></h1>
                    </div>
                    <!-- Post meta -->
                    <div class="post-meta">
                        <span><a href="blog-creative.html#"><i class="fa fa-map-marker"></i>Main Canal Bank Road, Lahore</a></span>
                    </div>
                    <!-- paragraph -->
                    <p>
                        Sheranwala Heights a project of Sheranwala Group. Sheranwala Heights is the most luxurious apartments in Lahore and full security system, Light backup & basement parking.
                        studio apartments, 1 bed, 2 bed & 3 bed apartments available on easy 3 years of Installments.
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- our project end -->
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- our project -->
            <div class="thumbnail blog-box clearfix">
                <img src="~/assets/img/blog/sheranwala-complex.jpg" alt="blog-01" class="img-responsive">
                <!-- detail -->
                <div class="caption detail">
                    <!-- Main title -->
                    <div class="main-title-2">
                        <h1><a href="#">Sheranwala Complex</a></h1>
                    </div>
                    <!-- Post meta -->
                    <div class="post-meta">
                        <span><a href="blog-creative.html#"><i class="fa fa-map-marker"></i>PIA Road Near Wapda Town Roundabout, Lahore</a></span>
                    </div>
                    <!-- paragraph -->
                    <p>
                        Sheranwala Complex a project of Sheranwala Group. Sheranwala Complex is on the most beautful Location and full security system, Light backup.
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- our project end -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- our project -->
            <div class="thumbnail blog-box clearfix">
                <img src="~/assets/img/blog/jinnah-mall.jpg" alt="blog-01" class="img-responsive">
                <!-- detail -->
                <div class="caption detail">
                    <!-- Main title -->
                    <div class="main-title-2">
                        <h1><a href="#">Jinnah Mall</a></h1>
                    </div>
                    <!-- Post meta -->
                    <div class="post-meta">
                        <span><a href="blog-creative.html#"><i class="fa fa-map-marker"></i>Izmir Town- Block A. Near Jublee Town, Lahore</a></span>
                    </div>
                    <!-- paragraph -->
                    <p>
                        Jinnah Mall a project of Sheranwala Group. Jinnah Mall is on the most beautful Location and full security system, Light backup.
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- our project end -->
        </div>      

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- our project -->
            <div class="thumbnail blog-box clearfix">
                <img src="~/assets/img/blog/jinnah-tower.jpg" alt="blog-01" class="img-responsive">
                <!-- detail -->
                <div class="caption detail">
                    <!-- Main title -->
                    <div class="main-title-2">
                        <h1><a href="#">Jinnah Tower</a></h1>
                    </div>
                    <!-- Post meta -->
                    <div class="post-meta">
                        <span><a href="blog-creative.html#"><i class="fa fa-map-marker"></i>Valencia Town - Block A, Lahore</a></span>
                    </div>
                    <!-- paragraph -->
                    <p>
                        Jinnah Tower a project of Sheranwala Group. Jinnah Tower is on the most beautful Location and full security system, Light backup.
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- our project end -->
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- our project -->
            <div class="thumbnail blog-box clearfix">
                <img src="~/assets/img/blog/city-mall.jpg" alt="blog-01" class="img-responsive">
                <!-- detail -->
                <div class="caption detail">
                    <!-- Main title -->
                    <div class="main-title-2">
                        <h1><a href="#">City Mall</a></h1>
                    </div>
                    <!-- Post meta -->
                    <div class="post-meta">
                        <span><a href="blog-creative.html#"><i class="fa fa-map-marker"></i>City Mall Near Wapda Town Roundabout, Lahore</a></span>
                    </div>
                    <!-- paragraph -->
                    <p>
                        City Mall a project of Sheranwala Group. City Mall is on the most beautful Location and full security system, Light backup.
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- our project end -->
        </div>
    </div>
</div>







<!-- Agent section start -->
<div class="content-area agent-section chevron-icon">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1><span>Our</span> Agent</h1>
        </div>
        <div class="row">
            <div class="carousel our-partners slide" id="ourPartners3">
                <div class="col-lg-12 mrg-btm-30">
                    <a class="right carousel-control" href="index.html#ourPartners3" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
                    <a class="right carousel-control" href="index.html#ourPartners3" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
                </div>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- Agent box start -->
                            <div class="agent-box">
                                <!-- Agent img -->
                                <a href="agent-detail.html" class="agent-img">
                                    <img src="~/assets/img/team/team-1.jpg" alt="team-1" class="img-responsive">
                                </a>
                                <!-- Agent content -->
                                <div class="agent-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="agent-detail.html">Mujtaba Shafi</a>
                                    </h1>
                                    <!-- Contact -->
                                    <div class="contact">
                                        <p>
                                            <a href="mailto:info@themevessel.com"><i class="fa fa-envelope-o"></i>mujtaba.shafi181@gmail.com</a>
                                        </p>
                                        <p>
                                            <a href="tel:+923214898145"><i class="fa fa-phone"></i>+92 321-4898145</a>
                                        </p>
                                    </div>
                                    <!-- Social list -->
                                </div>
                            </div>
                            <!-- Agent box end -->
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- Agent box end -->
                            <div class="agent-box">
                                <!-- Agent img -->
                                <a href="agent-detail.html" class="agent-img">
                                    <img src="~/assets/img/team/team-1.jpg" alt="team-2" class="img-responsive">
                                </a>
                                <!-- Agent content -->
                                <div class="agent-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="agent-detail.html">Arshad Ali</a>
                                    </h1>
                                    <!-- Contact -->
                                    <div class="contact">
                                        <p>
                                            <a href="#"><i class="fa fa-envelope-o"></i>arshad_ch138@yahoo.com</a>
                                        </p>
                                        <p>
                                            <a href="tel:+923214987676"><i class="fa fa-phone"></i>+92 321-4987676</a>
                                        </p>

                                    </div>
                                    <!-- Sociallist -->
                                </div>
                            </div>
                            <!-- Agent box end -->
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- Agent box start -->
                            <div class="agent-box">
                                <!-- Agent img -->
                                <a href="agent-detail.html" class="agent-img">
                                    <img src="~/assets/img/team/team-1.jpg" alt="team-3" class="img-responsive">
                                </a>
                                <!-- Agent content -->
                                <div class="agent-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="agent-detail.html">Muhammad Saqib Akram</a>
                                    </h1>
                                    <!-- Contact -->
                                    <div class="contact">
                                        <p>
                                            <a href="mailto:info@themevessel.com"><i class="fa fa-envelope-o"></i>saqibakram789@hotmail.com</a>
                                        </p>
                                        <p>
                                            <a href="tel:+9203214395766"><i class="fa fa-phone"></i>+92 0321-4395766</a>
                                        </p>

                                    </div>
                                    <!-- Sociallist -->
                                </div>
                            </div>
                            <!-- Agent box enx -->
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- Agent bos start -->
                            <div class="agent-box">
                                <!-- Agent img -->
                                <a href="agent-detail.html" class="agent-img">
                                    <img src="~/assets/img/team/team-1.jpg" alt="team-4" class="img-responsive">
                                </a>
                                <!-- Agent content -->
                                <div class="agent-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="agent-detail.html">Sheikh Muhammad Ikram</a>
                                    </h1>
                                    <!-- Contact -->
                                    <div class="contact">
                                        <p>
                                            <a href="mailto:info@themevessel.com"><i class="fa fa-envelope-o"></i>sheikhikram922@gmail.com</a>
                                        </p>
                                        <p>
                                            <a href="tel:+923214733338"><i class="fa fa-phone"></i>+92 321-4733338</a>
                                        </p>

                                    </div>
                                    <!-- Sociallist -->
                                </div>
                            </div>
                            <!-- Agent bos end -->
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- Agent bos start -->
                            <div class="agent-box">
                                <!-- Agent img -->
                                <a href="agent-detail.html" class="agent-img">
                                    <img src="~/assets/img/team/team-1.jpg" alt="team-4" class="img-responsive">
                                </a>
                                <!-- Agent content -->
                                <div class="agent-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="agent-detail.html">Asad Abbas Ranjha</a>
                                    </h1>
                                    <!-- Contact -->
                                    <div class="contact">
                                        <p>
                                            <a href="mailto:info@themevessel.com"><i class="fa fa-envelope-o"></i>asadranjha110@gmail.com</a>
                                        </p>
                                        <p>
                                            <a href="tel:+923006188202"><i class="fa fa-phone"></i>+92 300-6188202</a>
                                        </p>

                                    </div>
                                    <!-- Sociallist -->
                                </div>
                            </div>
                            <!-- Agent bos end -->
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- Agent bos start -->
                            <div class="agent-box">
                                <!-- Agent img -->
                                <a href="agent-detail.html" class="agent-img">
                                    <img src="~/assets/img/team/team-1.jpg" alt="team-4" class="img-responsive">
                                </a>
                                <!-- Agent content -->
                                <div class="agent-content">
                                    <!-- title -->
                                    <h1 class="title">
                                        <a href="agent-detail.html">Azeem Aslam</a>
                                    </h1>
                                    <!-- Contact -->
                                    <div class="contact">
                                        <p>
                                            <a href="mailto:info@themevessel.com"><i class="fa fa-envelope-o"></i>azeem.aslam83@gmail.com</a>
                                        </p>
                                        <p>
                                            <a href="tel:+923004002543"><i class="fa fa-phone"></i>+92 300-4002543</a>
                                        </p>

                                    </div>
                                    <!-- Sociallist -->
                                </div>
                            </div>
                            <!-- Agent bos end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Agent section end -->
<!-- Counters strat -->
<div class="counters">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-tag"></i>
                    <h1 class="counter">20</h1>
                    <p>Listings For Sale</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-symbol-1"></i>
                    <h1 class="counter">12</h1>
                    <p>Listings For appartments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-people"></i>
                    <h1 class="counter">150</h1>
                    <p>Agents</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow">
                <div class="counter-box">
                    <i class="flaticon-people-1"></i>
                    <h1 class="counter">177</h1>
                    <p>Brokers</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->
<div class="clearfix"></div>
<!-- Testimonial secion start -->
<div id="branches" class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonials text-center">
                    <div id="carouse3-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item content active clearfix">
                                <div class="item-inner">
                                    <div class="main-title mrg-btm-30">

                                    </div>

                                    <div class="testimonials-avatar">
                                        <img src="~/assets/img/logos/single-logo2.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        Sheranwala Estate & Builders
                                    </div>
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        <address>
                                            <strong>Head Office</strong><br>
                                            19 F PIA society Sheranwala Trade Center Wapda Town roundAbout<br>
                                            54000 Lahore, Pakistan<br>
                                            <abbr title="Phone">P:</abbr> +92 111-228-228
                                        </address>

                                        <address>
                                            <strong>Official Email</strong><br>
                                            <a href="mailto:#">sheranwalaestateofficial@gmail.com</a>
                                        </address>
                                        <sub>
                                            <i class="fa fa-quote-right"></i>
                                        </sub>
                                    </div>
                                </div>
                            </div>
                            <div class="item content clearfix">
                                <div class="item-inner">
                                    <div class="main-title mrg-btm-30">

                                    </div>

                                    <div class="testimonials-avatar">
                                        <img src="~/assets/img/logos/single-logo2.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        Sheranwala Estate & Builders
                                    </div>
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        <address>
                                            <strong> DHA Rahbar - Branch</strong><br>
                                            DHA Rahbar Phase - 11 Defence Road <br>
                                            54000 Lahore, Pakistan<br>
                                            <abbr title="Phone">P:</abbr> +92 111-270-270
                                        </address>

                                        <address>
                                            <strong>Official Email</strong><br>
                                            <a href="mailto:#">sheranwalaestateofficial@gmail.com</a>
                                        </address>
                                        <sub>
                                            <i class="fa fa-quote-right"></i>
                                        </sub>
                                    </div>
                                </div>
                            </div>
                            <div class="item content clearfix">
                                <div class="item-inner">
                                    <div class="main-title mrg-btm-30">

                                    </div>

                                    <div class="testimonials-avatar">
                                        <img src="~/assets/img/logos/single-logo2.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        Sheranwala Estate & Builders
                                    </div>
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        <address>
                                            <strong> Engineer's Town - Branch</strong><br>
                                            D - 2 Commercial Plaza Engineer's Town Sector - A <br>
                                            54000 Lahore, Pakistan<br>
                                            <abbr title="Phone">P:</abbr> 042-35976771 - (2)
                                        </address>

                                        <address>
                                            <strong>Official Email</strong><br>
                                            <a href="mailto:#">sheranwalaestateofficial@gmail.com</a>
                                        </address>
                                        <sub>
                                            <i class="fa fa-quote-right"></i>
                                        </sub>
                                    </div>
                                </div>
                            </div>
                            <div class="item content clearfix">
                                <div class="item-inner">
                                    <div class="main-title mrg-btm-30">

                                    </div>

                                    <div class="testimonials-avatar">
                                        <img src="~/assets/img/logos/single-logo2.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        Sheranwala Estate & Builders
                                    </div>
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        <address>
                                            <strong> Khayaban-e-Amin - Branch</strong><br>
                                            Sheranwala Estate & Builders Khayaban-e-Amin Chowk <br>
                                            54000 Lahore, Pakistan<br>
                                            <abbr title="Phone">P:</abbr> 042-35976771 - (2)
                                        </address>

                                        <address>
                                            <strong>Official Email</strong><br>
                                            <a href="mailto:#">sheranwalaestateofficial@gmail.com</a>
                                        </address>
                                        <sub>
                                            <i class="fa fa-quote-right"></i>
                                        </sub>
                                    </div>
                                </div>
                            </div>
                            <div class="item content clearfix">
                                <div class="item-inner">
                                    <div class="main-title mrg-btm-30">

                                    </div>

                                    <div class="testimonials-avatar">
                                        <img src="~/assets/img/logos/single-logo2.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        Sheranwala Estate & Builders
                                    </div>
                                    <div class="text">
                                        <sup>
                                            <i class="fa fa-quote-left"></i>
                                        </sup>
                                        <address>
                                            <strong> Lahore Motorway City - Branch</strong><br>
                                            753 - P Main Commercial Lahore Motorway City <br>
                                            Near Kot Abdul Malik Interchange<br>
                                            54000 Lahore, Pakistan<br>
                                            <abbr title="Phone">P:</abbr> 042-35976771 - (2)
                                        </address>

                                        <address>
                                            <strong>Official Email</strong><br>
                                            <a href="mailto:#">sheranwalaestateofficial@gmail.com</a>
                                        </address>
                                        <sub>
                                            <i class="fa fa-quote-right"></i>
                                        </sub>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carouse3-example-generic" role="button" data-slide="prev">
                            <span class="slider-mover-left" aria-hidden="true">
                                <i class="fa fa-angle-left"></i>
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carouse3-example-generic" role="button" data-slide="next">
                            <span class="slider-mover-right" aria-hidden="true">
                                <i class="fa fa-angle-right"></i>
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial secion end -->
<div class="clearfix"></div>
<!-- Partners block start -->

    

<!-- Partners block end -->
<script type="text/javascript" src="~/assets/js/app.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDayd96Rd_d6hogwT2tTChV7FSVy-b4Mk"></script>


    @{
        bool v = ViewBag.Message;
            }
        @if (v == true)
    {
        <script>
            $(window).load(function(){
                $('html, body').animate({
                    scrollTop: $('#branches').offset().top
                }, 'slow');
            });
        </script>

}

<script>
  
    $('#carouse3-example-generic').on('slid.bs.carousel', function (e) {
        // Fetch map from maps object by key from element's data attribute
        var map = maps[e.relatedTarget.dataset.map];
        // Trigger the resize
        google.maps.event.trigger(map, 'resize');
    });

    var maps = {
        map1: new google.maps.Map(document.getElementById('map1'), {
            center: new google.maps.LatLng(31.442545, 74.276053),
            zoom: 15
        }),
        map2: new google.maps.Map(document.getElementById('map2'), {
            center: new google.maps.LatLng(31.442545, 74.276053),
            zoom: 15
        }),
        map3: new google.maps.Map(document.getElementById('map3'), {
            center: new google.maps.LatLng(31.442545, 74.276053),
            zoom: 15
        }),
        map4: new google.maps.Map(document.getElementById('map4'), {
            center: new google.maps.LatLng(31.442545, 74.276053),
            zoom: 15
        })
    };
    var myLatlng1 = new google.maps.LatLng(31.442545, 74.276053);
    var marker1 = new google.maps.Marker({
        position: myLatlng1,
        title: "Hello World!"
    });
    marker1.setMap(maps['map1']);
    var marker2 = new google.maps.Marker({
        position: myLatlng1,
        title: "Hello World!"
    });
    marker2.setMap(maps['map2']);
    var marker3 = new google.maps.Marker({
        position: myLatlng1,
        title: "Hello World!"
    });
    marker3.setMap(maps['map3']);
    var marker4 = new google.maps.Marker({
        position: myLatlng1,
        title: "Hello World!"
    });
    marker4.setMap(maps['map4']);
    //function LoadMap() {
       
    //    var defaultLat1 = 31.442545;
    //    var defaultLng1 = 74.276053;
    //    var mapOptions1 = {
    //        center: new google.maps.LatLng(defaultLat1, defaultLng1),
    //        zoom: 15
    //    };
    //    var map1 = new google.maps.Map(document.getElementById("map1"), mapOptions1);
    //    //var infoWindow = new google.maps.InfoWindow();
    //    var myLatlng1 = new google.maps.LatLng(31.442545, 74.276053);
    //    var marker1 = new google.maps.Marker({
    //        position: myLatlng1,
    //        map: map1
    //    });
    //    //////////////////////////////////////////////////////////////
    //    var defaultLat2 = 31.442545;
    //    var defaultLng2 = 74.276053;
    //    var mapOptions2 = {
    //        center: new google.maps.LatLng(defaultLat2, defaultLng2),
    //        zoom: 15
    //    };
    //    var map2 = new google.maps.Map(document.getElementById("map2"), mapOptions2);
    //    //var infoWindow = new google.maps.InfoWindow();
    //    var myLatlng2 = new google.maps.LatLng(31.442545, 74.276053);
    //    var marker2 = new google.maps.Marker({
    //        position: myLatlng2,
    //        map: map2
    //    });
    //    /////////////////////////////////////////////////////////////////
    //    var defaultLat3 = 31.442545;
    //    var defaultLng3 = 74.276053;
    //    var mapOptions3 = {
    //        center: new google.maps.LatLng(defaultLat3, defaultLng3),
    //        zoom: 15
    //    };
    //    var map3 = new google.maps.Map(document.getElementById("map3"), mapOptions3);
    //    //var infoWindow = new google.maps.InfoWindow();
    //    var myLatlng3 = new google.maps.LatLng(31.442545, 74.276053);
    //    var marker3 = new google.maps.Marker({
    //        position: myLatlng3,
    //        map: map3
    //    });
    //    //////////////////////////////////////////////////////////////////////
    //    var defaultLat4 = 31.442545;
    //    var defaultLng4 = 74.276053;
    //    var mapOptions4 = {
    //        center: new google.maps.LatLng(defaultLat4, defaultLng4),
    //        zoom: 15
    //    };
    //    var map4 = new google.maps.Map(document.getElementById("map4"), mapOptions4);
    //    //var infoWindow = new google.maps.InfoWindow();
    //    var myLatlng4 = new google.maps.LatLng(31.442545, 74.276053);
    //    var marker4 = new google.maps.Marker({
    //        position: myLatlng4,
    //        map: map4
    //    });
    //    //////////////////////////////////////////////////////////////////////
    //    //(function (marker) {
    //    //    google.maps.event.addListener(marker, "click", function (e) {
    //    //        infoWindow.setContent("" +
    //    //                "<div class='map-properties contact-map-content'>" +
    //    //                "<div class='map-content'>" +
    //    //                "<p class='address'>123 Kathal St. Tampa City, </p>" +
    //    //                "<ul class='map-properties-list'> " +
    //    //                "<li><i class='fa fa-phone'></i>  +0477 8556 552</li> " +
    //    //                "<li><i class='fa fa-envelope'></i>  info@themevessel.com</li> " +
    //    //                "<li><a href='index.html'><i class='fa fa-globe'></i>  http://http://themevessel.com</li></a> " +
    //    //                "</ul>" +
    //    //                "</div>" +
    //    //                "</div>");
    //    //        infoWindow.open(map, marker);
    //    //    });
    //    //})(marker);
    //}

    
        //LoadMap();
 
</script>