@using RealEstate.Models
@{
    ViewBag.Title = "Blog";
}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Blog</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- Contact body start -->
<div class="contact-body content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <!-- Contact form start -->

                <div class="contact-form">
                    <div class="main-title-2">
                        <h1><span>Blog Content Here</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

