@using RealEstate.Models
@{
    ViewBag.Title = "Blog";
}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Blog</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- Blog body start -->
<div class="blog-body blog-creative content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <!-- Blog box start -->
                <div class="thumbnail blog-box clearfix">
                    <img src="~/assets/img/blog/blog-1.png" alt="blog-01" class="img-responsive">
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Main title -->
                        <div class="main-title-2">
                            <h1><a href="#">Sheranwala Heights</a></h1>
                        </div>
                        <!-- Post meta -->
                        <div class="post-meta">
                            <span><a href="blog-creative.html#"><i class="fa fa-user"></i>Admin</a></span>
                            <span><a><i class="fa fa-clock-o"></i>May</a></span>
                        </div>
                        <!-- paragraph -->
                        <p>Sheranwala Heights a project of Sheranwala Group. Sheranwala Heights is the most luxurious apartments in Lahore and full security system, Light backup & basement parking.
studio apartments, 1 bed, 2 bed & 3 bed apartments available on easy 3 years of Installments.</p>
                        <div class="clearfix"></div>
                        <!-- Btn -->
                        <a href="#" class="btn button-sm button-theme">Read More</a>
                    </div>
                </div>
                
                <!-- Blog box end -->
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <!-- Blog box start -->
                <div class="thumbnail blog-box clearfix">
                    <img src="~/assets/img/blog/lmc-special-offer.png" alt="blog-01" class="img-responsive">
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Main title -->
                        <div class="main-title-2">
                            <h1><a href="#">Lahore Motorway City</a></h1>
                        </div>
                        <!-- Post meta -->
                        <div class="post-meta">
                            <span><a href="blog-creative.html#"><i class="fa fa-user"></i>Admin</a></span>
                            <span><a><i class="fa fa-clock-o"></i>May</a></span>
                        </div>
                        <!-- paragraph -->
                        <p>
                            Golden Opportunity to Book Your Home Now. Lahore motorway city is one of the best and up growing society. Now its time to make your future bright and make your own house on easy
                            3 years of installments.
                        </p>
                        <div class="clearfix"></div>
                        <!-- Btn -->
                        <a href="#" class="btn button-sm button-theme">Read More</a>
                    </div>
                </div>

                <!-- Blog box end -->
            </div>
            
        </div>
    </div>
</div>

<!-- Blog body end -->

