
@using RealEstate.Models
@{
    ViewBag.Title = "BlogDetail";
}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Blog Detail</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- Blog Detail body start -->
<div class="blog-body blog-creative content-area">
    <div class="container">
        Blog Detail Start Here
    </div>
</div>
<!-- Blog Detail body end -->