@model IEnumerable<RealEstate.Models.GalleryVM>
@{
    ViewBag.Title = "Gallery";
}

<!-- Banner start -->
<div class="blog-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Gallery</h1>
            <ul class="breadcrumbs">
                <li><a href="#">Home</a></li>
                <li class="active">Gallery</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Blog body start -->
<div class="blog-body blog-creative content-area">
    <div class="container">

        <div class="option-bar">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                    <h4>
                        <span class="heading-icon">
                            <i class="fa fa-th-list"></i>
                        </span>
                        <span class="hidden-xs">Gallery</span>
                    </h4>
                </div>
            </div>
        </div>


       <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
           <li role="presentation" class="active">
                <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Pictures</a>
           </li> 
            <li role="presentation">
            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Videos</a>
                </li> 
            </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade in active" role="tabpanel" id="home" aria-labelledby="home-tab">
            <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- Blog box start -->
            <div class="thumbnail blog-box clearfix">
                <img src="/assets/img/Gallery/lmc4.2.png" alt="img-1" class="img-responsive">
                <!-- detail -->
            </div>
            <!-- Blog box end -->
        </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <!-- Blog box start -->
                    <div class="thumbnail blog-box clearfix">
                        <img src="/assets/img/Gallery/Lmc6.4.png" alt="img-2" class="img-responsive">
                        <!-- detail -->
                    </div>
                    <!-- Blog box end -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <!-- Blog box start -->
                    <div class="thumbnail blog-box clearfix">
                        <img src="/assets/img/Gallery/b-flyer.png" alt="img-3" class="img-responsive">
                        <!-- detail -->
                    </div>
                    <!-- Blog box end -->
                </div>
</div>
<div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- Blog box start -->
            <div class="thumbnail blog-box clearfix">
                <img src="/assets/img/Gallery/private-land-jia-baga1.2.png" alt="img-4" class="img-responsive">
                <!-- detail -->
            </div>
            <!-- Blog box end -->
        </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <!-- Blog box start -->
                    <div class="thumbnail blog-box clearfix">
                        <img src="/assets/img/Gallery/s-adver.jpg" alt="img-2" class="img-responsive">
                        <!-- detail -->
                    </div>
                    <!-- Blog box end -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <!-- Blog box start -->
                    <div class="thumbnail blog-box clearfix">
                        <img src="/assets/img/Gallery/sheranwala-dream-ad.png" alt="img-3" class="img-responsive">
                        <!-- detail -->
                    </div>
                    <!-- Blog box end -->
                </div>
               </div>
                </div>
            <div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                <div class="tab-pane fade active in" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                    <div class="col-md-4 mb">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="/assets/videos/new-ad-sheranwala.mp4"></iframe>
                        </div>
                    </div>
                    <div class="col-md-4 mb">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="/assets/videos/home-offer.mp4"></iframe>
                        </div>
                    </div>
                    <div class="col-md-4 mb">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="/assets/videos/sheranwala-advert.mp4"></iframe>
                        </div>
                    </div>
                </div>
            </div> 
             </div>
        </div>
    </div>
</div>
    </div>
</div>
<!-- Blog body end -->

